.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  filter: drop-shadow(4px 4px 4px rgba(4, 166, 230, 0.5));
}

.App-header {
  background-color: #0e0e0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo{
  position: absolute;
  height: 150px;
  width: 200px;
  top: 40px;
  left: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
