body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #e50914; /* Netflix red */
    color: #fff;
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #e50914; /* Netflix red */
    color: #fff;
}

tr:hover {
    background-color: #333;
}
